*.sublime-project
*.sublime-workspace
*.svn
*.mk
*.orig
*.ncb
*.tmp
*.pyc
*.orig
*.ipch
*.suo
*.user
*.bak
*.aps
*.sdf
*.opensdf
*~
.metadata
.project
.cproject
.tags
.tags_sorted_by_file
*.props
*.targets
*.landmines
*.orig
*.log
*.aps
*.suo
*.ncb
*.user
*.obj
*.pdb
Thumbs.db

Debug
Release
